<div *ngFor="let menuTreeItem of menuTree">
  <a class="ui-menutreeitem-link" (mouseenter)="onItemMouseEnter($event, menuTreeItem)">
    <span class="ui-menuitem-text">{{menuTreeItem.label}}</span>                         
    <span class="material-icons mainMenuIcon">{{menuTreeItem.triggerIcon}}</span>
  </a>
  
  <menu-tree-table [menuTreeItem]='menuTreeItem' style="display:none" 
  class="menuItemContainer" [onMenuLeafItemSelect]="onMenuLeafItemClick" 
  [onMenuTextItemClick]="onMenuTextItemClick" [onMenuIconItemClick]="onMenuIconItemClick" [onMouseLeaveEvent]="onMouseLeaveEvent">

  </menu-tree-table>
  
</div>